---
title: MOOC7
---

<div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 0%), url('<%= image_path("banner_parapluie_good.png") %>');">
    <div class="col-xs-12 col-sm-6">
      <div class="content-main">
        <h1>7 semaines pour trouver le job de mes rêves</h1>
        <p>Une formation en ligne <span>gratuite</span> et ouverte à <span>tous</span>.</p>
        <a href="http://trouverlejobdemesreves.moocit.fr/"><button class="button">inscription</button></a>
      </div>
    </div>
</div>

<div class="banner-video">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="logo-mooc"><%= image_tag "logo_mooc7.png" %></div>
        <h3 class="title-video">Découvrez le Mooc</h3>
        <video autoplay type="video/mp4" class="teaser text-center" src="images/teaser_mooc.mp4"></video>
      </div>
    </div>
  </div>
</div>
<div class="banner-partners">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Les partenaires du Mooc7</h3>
        <p>Créé par</p>
        <div class="logos-founders">
          <div class="logo">
            <a href="http://laetsmind.com/" target="_blank"><%= image_tag "logo_laetsmind_good.png" %></a>
          </div>
          <div class="logo">
            <a href="#" target="_blank"><%= image_tag "logo_perform_good.png" %></a>
          </div>
        </div>
        <p>En partenariat avec</p>
        <div class="logos-partners">
          <div class="logo">
            <a href="https://www.emploi-store.fr/portail/accueil" target="_blank"><%= image_tag "logo_poleemploi_good.png" %></a>
          </div>
          <div class="logo">
            <a href="https://www.lyon-metropole.cci.fr/jcms/accueil-j_6.html" target="_blank"><%= image_tag "logo_cci_good.png" %></a>
          </div>
          <div class="logo">
            <a href="https://www.univ-st-etienne.fr/fr/index.html" target="_blank"><%= image_tag "logo_ujm_good.png" %></a>
          </div>
          <div class="logo">
            <a href="http://www.compagnons-du-devoir.com/" target="_blank"><%= image_tag "logo_compagnons_good.png" %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center logo-mooc-footer"><%= image_tag "logo_mooc7.png" %></div>
        <h2 class='text-center'>Contact et informations</h2>
        <h3 class='text-center'>contact@trouverlejobdemesreves.com</h3>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <ul>
          <li><a href="https://facebook.com/jobdemesreves" target="_blank" ><%= image_tag "logo_fb.png" %></a></li>
          <li><a href="https://twitter.com/jobdemesreves" target="_blank" ><%= image_tag "logo_twitter.png" %></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
